---
import Layout from '../layouts/Layout.astro';
import SearchBar from '../components/SearchBar.astro';
import '../styles/blog.css';

let allPosts = await Astro.glob('./blog/**/index.md');
allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---
<Layout title="Nico Salm | Blog" description="Nico's Blog">
    <main class="blog-container">
        <h1>Blog</h1>
        <p class="subtitle">Hot takes and cool things.</p>
        <SearchBar />
        <ul class="post-list">
            {allPosts.map((post) => (
            <li class="post-item">
                <a href={post.url}>
                    <h2>{post.frontmatter.title}</h2>
                    <div class="post-meta">
                        <span class="post-date">{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric"})}</span>
                        <span class="post-read-time">{post.frontmatter.minutesRead} min read</span>
                    </div>
                    <p class="post-description">{post.frontmatter.description}</p>
                    {post.frontmatter.tags && post.frontmatter.tags.length > 0 && (
                    <div class="post-tags">
                        {post.frontmatter.tags.map(tag => (
                            <span class="tag">{tag}</span>
                        ))}
                    </div>
                    )}
                </a>
            </li>
            ))}
        </ul>
    </main>
</Layout>
