---
import Layout from "../layouts/Layout.astro";
import ObfuscatedEmail from "../components/ObfuscatedEmail.astro";

let allPosts = await Astro.glob("./blog/**/index.md");
allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
let recentPosts = allPosts.slice(0, 3);

let socialMedia = [
  {
    url: "https://github.com/nicosalm/",
    icon: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>',
    name: "GitHub",
  },
  {
    url: "/resume.pdf",
    icon: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>',
    name: "Resume",
  },
  {
    url: "https://www.linkedin.com/in/nicosalm/",
    icon: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>',
    name: "LinkedIn",
  },
  {
    component: ObfuscatedEmail,
    icon: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/></svg>',
    name: "Email",
  },
];
---

<Layout title="Nico Salm" description="Hey! I'm Nico. I'm a software and data engineer studying at the University of Wisconsin-Madison. Check out my site!" isMainPage={true}>
    <main class="container">
        <section class="mb-16">
            <h1 class="text-4xl font-bold mb-4">Hey! I'm Nico.</h1>
            <h2 class="text-2xl mb-4">I'm a software and data engineer</h2>
            <p class="mb-6">
                I have a passion for solving complex problems and creating intuitive solutions. I enjoy many aspects of computing: from ML and AI for predictive analytics to the intricacies of low-level systems, compilers, and
                computer science theory. My goal is to master the skills needed to become an exceptional software engineer and data scientist.
            </p>
            <div class="social-links">
                {
                socialMedia.map((sm) => (
                sm.component ? (
                <div class="social-link">
                    <span class="icon" set:html={sm.icon} />
                    <sm.component />
                </div>
                ) : (
                    <a href={sm.url} target="_blank" rel="noopener noreferrer" class="social-link" aria-label={sm.name}>
                        <span class="icon" set:html={sm.icon} />
                        <span class="name">{sm.name}</span>
                    </a>
                    )
                ))
                } 
            </div>
        </section>

    <section class="mb-16">
      <h2 class="text-3xl font-semibold mb-6">About Me</h2>
      <div class="md:flex gap-8">
        <div class="md:w-2/3">
          <p class="mb-4">
            I grew up in Door County, Wisconsin – known for bustling tourism and beautiful waters. I study Computer and Data Science at the University of Wisconsin-Madison. While at UW, I helped found the Wisconsin
            Quantum Computing Club, where I serve as the Vice President. I am a coordinator of the Undergraduate Projects Lab (UPL), where I develop cool things and help others do the same. I like to read, write, and
            learn about the world around me. I love realizing complex ideas and I am committed to continual innovation.
          </p>
        </div>
      </div>
    </section>

    <section>
      <h2>Recent Articles</h2>
      <ul class="article-list">
        {
          recentPosts.map((post) => (
            <li class="article-item">
              <a href={post.url} class="article-link">
                <h3 class="article-title">{post.frontmatter.title}</h3>
                <p class="article-description">{post.frontmatter.description}</p>
                <div class="article-meta">
                  <span class="article-date">
                    {new Date(post.frontmatter.pubDate).toLocaleDateString("en-us", { year: "numeric", month: "short", day: "numeric" })} · {post.frontmatter.minutesRead} min read
                  </span>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <a href="/blog" class="see-all-link">See all articles</a>
    </section>
    </main>

    <script>
    document.querySelector('.email-link').addEventListener('click', function(e) {
        const emailSpan = this.querySelector('.obfuscated-email');
        if (emailSpan) {
            const email = emailSpan.getAttribute('data-email');
            if (email) {
                window.location.href = `mailto:${email}`;
            }
        }
    });
    </script>
</Layout>

<style>

.see-all-link {
    display: inline-block;
    margin-top: 1rem;
    color: var(--color-accent);
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding-right: 1.5em; /* Space for the arrow */
    border-bottom: none; /* Override global styles */
}

.see-all-link::after {
    content: "→";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease;
}

.see-all-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.see-all-link:hover::before {
    transform: scaleX(1);
}

.see-all-link:hover::after {
    transform: translateY(-50%) translateX(3px);
}

.see-all-link:hover {
    border-bottom: none; /* Override global hover styles */
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

.social-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--color-bg);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    border-radius: 2rem;
    transition: all 0.3s ease;
    text-decoration: none;
    hover: pointer;
}

.social-link:hover {
    background-color: var(--color-accent);
    color: var(--color-bg);
}

.social-link .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

.social-link {
    cursor: pointer;
}

.social-link :global(.obfuscated-email) {
    font-weight: 500;
}

.social-link:hover :global(.obfuscated-email) {
    color: inherit;
}
</style>
